name: Build Library

on:
  push:
    branches: [ "*" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build Shared Library
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - uses: actions/cache@v3
      id: mysql-cache
      with:
        path: |
          ~/mysql/
        key: ${{ runner.os }}-mysql
        restore-keys: |
          ${{ runner.os }}-mysql

    - name: Clone MySQL
      if: steps.mysql-cache.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/mysql/mysql-server.git --depth 1 --branch 8.0 /home/runner/mysql

    - name: Install Dependency
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends -y build-essential cmake bzip2 \
          openssl perl xz-utils zstd libssl-dev zlib1g-dev libncurses-dev pkg-config libudev-dev
        rustup toolchain install nightly
        rustup default nightly
        rustup update

    - name: Run Tests
      run: cargo test --release --config "env.LOG_LEVEL=trace"
      env:
        MYSQL_SOURCE_DIR: /home/runner/mysql

    - name: Build Library
      run: |
        ./scripts/deploy.sh
        ./scripts/build.sh
        mkdir -p helper/docker || true
        cp /home/runner/mysql/bld/plugin_output_directory/ha_yydb.so helper/docker
        cp ./scripts/Dockerfile helper/docker
      env:
        NO_INSTALL: true
        NO_SOFT_LINK: true
        MYSQL_SOURCE_DIR: /home/runner/mysql

    - name: Upload Library
      uses: actions/upload-artifact@v3
      with:
        name: yydb
        path: /home/runner/mysql/bld/plugin_output_directory/ha_yydb.so

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: gztime
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker Metadata action
      uses: docker/metadata-action@v4
      id: meta
      with:
        images: |
          gztime/mysql-yydb
        tags: |
          latest,enable=${{ github.ref == 'refs/heads/main' }}
          type=semver,pattern={{raw}}
          type=sha,enable=true,priority=100,prefix=,suffix=,format=short

    - name: Publish Image
      uses: docker/build-push-action@v3
      with:
        context: ./helper/docker
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/amd64
        push: true

  typo:
    name: Spell Check with Typos
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v2

    - name: Use custom config file
      uses: crate-ci/typos@master
      with:
        files: ./
        config: ./.github/typo.toml
