name: Build Library

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo

    - name: Run Tests
      run: cargo test -- --nocapture

    - name: Build Library
      run: cargo build --release

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: yengine
        path: target/release/libyengine.a
